* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif, "Arial";
  margin: 0;
}

body {
  margin: 0 auto; 
  min-width: 375px;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

.body__overflow__none {
  overflow: hidden;
}

.container {
  padding: 0 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 991px) {
  .container {
    padding: 0 70px;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding: 0 120px;
  }
}

@media screen and (min-width: 1600px) {
  .container {
    padding: 0 200px;
  }
}