.advantages {
  padding-top: 50px;
  padding-bottom: 50px;
  &__item {
    margin: 20px 0;
    padding: 40px 20px;
    box-shadow: 1px 4px 12px rgba(0, 0, 0, 0.08);
    &__quantity {
      font-weight: 700;
      font-size: 45px;
      line-height: 120%;
      text-align: center;
      color: #1F37FF;
      margin-bottom: 20px;
    }
    &__title {
      text-align: center;
    }
  }
}

@media screen and (min-width: 991px) {
  .advantages {
    &__box {
      display: flex;
      justify-content: space-between;
      margin: 0 -30px;
    }
    &__item {
      width: 33.33%;
      margin: 0 30px;
    }
  }
}